/* #92CD28: primary
#B6EE56: primary-alt

#de7a10: secondary
#ffab52: secondary-alt */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body * {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,h3 {
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}

.border, .border-top, .border-bottom, .border-left, .border-right{
    border-color: #ddd !important;
}

.product-price{
    font-family: 'Open Sans', sans-serif;
}

{}

p{

}

.row {
    margin: auto 0;
}

.shadow-custom {
    box-shadow: 0px 0px 5px #ccc;
    z-index: 5;
}

nav ul li {
    margin: auto 1rem;
}

.btn-main {
    background-color: #92CD28 !important;
    color: white;
    border: none;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main:focus-visible {
    background-color: #B6EE56 !important;
}

.btn-outline-main {
    border: 2px solid #92CD28 !important;
}

.text-secondary-custom {
    color: #de7a10;
}

.bg-secondary-custom{
    background: #de7a10;
}

.btn-outline-danger{
    background: white;
}

.radio-main:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #92CD28;
    background-color: #92CD28;
}

.alert-container {
    z-index: 5;
    position: fixed;
    bottom: 1em;
}

.alert-custom {
    background: #de7a10;
    border-color: #c86e0e;
    color: #fff;
}

.show {
    transition: opacity 150ms;
}


a,
a * {
    color: #de7a10;
}

a:hover,
a *:hover, .product-name a:hover {
    color: #ffab52;
}

.product-name a{
    color: #212529;
}

.product-image-wrapper{
    position:relative;
    overflow:hidden;
    padding-bottom:100% !important;
}

.product-image{
    position: absolute;
    left:0;
    top:0;
}


.rounded {
    border-radius: 7px !important;
}

.loading{
    animation: loading 2s infinite ease-in-out;
}

@keyframes loading{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.25;
    }
    100%{
        opacity: 1;
    }
}

/* Small devices */

@media (max-width: 576px) {
    .navbar .container{
        justify-content: center !important;
    }
}