/* #92CD28: primary
#B6EE56: primary-alt

#de7a10: secondary
#ffab52: secondary-alt */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body * {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,h3 {
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}

.border, .border-top, .border-bottom, .border-left, .border-right{
    border-color: #ddd !important;
}

.product-price{
    font-family: 'Open Sans', sans-serif;
}

{}

p{

}

.row {
    margin: auto 0;
}

nav, .shadow-custom {
    box-shadow: 0px 0px 5px #aaa;
}

nav ul li {
    margin: auto 1rem;
}

.btn-main {
    background-color: #92CD28;
    color: white;
    border: none;
}

.btn-main:hover,
.btn-main:focus {
    background-color: #B6EE56 !important;
}

.btn-outline-main {
    border: 2px solid #92CD28 !important;
}


.bg-secondary-custom{
    background: #de7a10;
}

.btn-outline-danger{
    background: white;
}

.radio-main:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #92CD28;
    background-color: #92CD28;
}


a,
a * {
    color: #de7a10;
}

a:hover,
a *:hover {
    color: #ffab52;
}

.rounded {
    border-radius: 7px !important;
}


/* Small devices */

@media (max-width: 576px) {
    .navbar .container{
        justify-content: center !important;
    }
}