@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body * {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-weight: 700;
    /* font-family: 'Open Sans Condensed', sans-serif; */
}

h3,
h4,
h5 {}

.bg-main {
    background-color: #92CD28;
    color: white;
    border: none;
}

.bg-main:hover {
    background-color: #FFA33F;
}

a,
a * {
    color: #FFA33F;
}

a:hover,
a *:hover {
    color: #FFA33F;
}

.rounded {
    border-radius: 7px !important;
}